*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'Montserrat', sans-serif
}
body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section{
	background-color:#d0a7b4;
	width: 60%;
	margin: 30px;
	border-radius: 30px;
	padding: 20px;
}
form{
	margin: 10px;
}

.crear-cuenta{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color:#08607e;
}

.crear-cuenta label{
	margin: 5px;
}

.crear-cuenta input{
	border:1px solid gray;
	border-radius: 20px;
	padding: 6px;
}
.crear-cuenta img{
	height: 100px;
	width: 100px;
	border-radius: 5px;
}

.crear-cuenta button{
	border-radius: 20px;
	padding: 8px;
	width: 100px;
	margin: 5px;
	background-color:#a53a50;
	border: none;
	color: white;
}
.style-a{
	cursor: pointer;
	color:#a53a50;

}

.continuar-con{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color:#08607e;
}


.continuar-con h1{
	text-align: center;
}

.continuar-con  div{
	display: flex;
	margin: 10px;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
}
.container a{
	margin-left: 10px;
	padding: 5px;
}
.facebook-color{
	color:blue;
}
.google-color{
	color:#a53a50;
}

