*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif
}

h1{
	text-align: center;
	color: #08607e;
	margin: 5px;
}

h2{
	margin-bottom: 5px;
}

section{
	border: 1px solid gray;
	border-radius: 20px;
	margin: 10px;
}
section div{
	margin: 10px;
}
.información-de-contacto{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

input{
	margin-bottom: 10px;
	padding: 10px;
}

p{
	margin-bottom: 5px;
}

.boton{
	display: flex;
	justify-content: center;
	align-items: center;
}

button{
	background-color:#08607e;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
	color: white;
	border: none;
}


/* ------------  Mobile ------------ */
@media screen and (max-width: 500px) {
	section div{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

}

