*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif
}

body{
	background-color:#d0a7b4;
}


header{
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/modelos-de-negocios-digitales.webp);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	color: white;
}


.hero ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
.registrate{
	border: 1px solid purple;
	padding: 10px;
}
.hero li{
	margin: 10px;
}

.hero nav{
	display: flex;
	justify-content: space-around;
	background: rgb(246, 224, 248);
}

.hero img{
	width: 100px;
	height: 50px;
}

.red{
	display: flex;
	justify-content: space-around;
	margin: 10px;
}
.red article{
	margin: 10px;
}

.entrevista{
	display: flex;
	justify-content: space-around;
	margin: 10px;
}

.entrevista article{
	margin: 10px;
}
.entrevista img{
	height: 380px;
	width: 400px;
}
.mentoria{
	display: flex;
	justify-content: space-around;
	margin: 10px;	
}

.mentoria article{
	margin: 10px;
}
.mentoria img{
	height: 380px;
	width: 400px;
}
footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:#08607e;
	padding: 20px;
	color: white;
}

footer strong{
	color:#d0a7b4;
}

footer p,h3{
	margin: 10px;
}

footer img{
	height: 100px;
	width: 100px;
}

.conocenos article{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
}
