*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif
}

body{
	background:linear-gradient(#08607e,#a53a50);
	overflow-x:hidden;
	overflow-y: auto;
}



header{
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/modelos-de-negocios-digitales.webp);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	color: white;
}

.mostrar{
	display: block;
}



.hero ul{
	display: flex;
	justify-content: center;
	align-items: center;
}

.registrate{
	border: 1px solid purple;
	padding: 10px;
}
.hero li{
	margin: 10px;
}
.icono-oculto{
		display:none;
}
.hero{
background-color: white;
}

.hero nav{
	display: flex;
	justify-content: space-around;
	padding:5px ;
	

}

.hero img{
	height: 60px;
}

.red{
	display: flex;
	justify-content: space-around;
	margin: 10px;
}
.red article{
	margin: 10px;
}

.entrevista{
	display: flex;
	justify-content: space-around;
	margin: 10px;
}

.entrevista article{
	margin: 10px;
}
.entrevista img{
	height: 380px;
	
}
.mentoria{
	display: flex;
	justify-content: space-around;
	margin: 10px;	
}

.mentoria article{
	margin: 10px;
}
.mentoria img{
	height: 380px;
}
footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:white;
	padding: 10px;
	color: black;
}

footer strong{
	color:#a53a50;
}

footer p,h3{
	margin: 10px;
}

footer img{
	height: 60px;
}

.conocenos article{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
}





@media screen and (min-width:700px){
	.hero{
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width:600px){

	.oculto{
		display: none !important;
	}

	.boton-and-logo {
	display: flex;
	align-items:center;	
	justify-content: space-between;
}
.entrevista img{
	width: 300px;
	height: 300px;
}

.mentoria img{
	height: 300px;
	width: 300px;
}

article{
	margin: 10px;
}

.red img{
	height: 300px;
	width: 300px;
}
.boton-and-logo a,img{
	/*margin-left:10px ;
	margin-right:10px ;*/
	margin: 10px;
}

.boton-and-logo a{
	font-size: 20px;
}
	#menu{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.icono-oculto{
		display: flex;
	}

}